header
  a(href=`${siteUrl}/`).homeTitle
    span #{siteName}.com
  .searchZone
    input(type='text', placeholder='Start typing any word of phrase')
    .searchIcon: .icon search
//- nav.navigation
//-   ul
//-     for uri, page in pages
//-       li
//-         a(href=`${uri}`) #{page}
